<div class="pull-right">
  <%= link_to order_path(@imprint_group.order_id), class: 'btn btn-md btn-primary', data: { toggle: 'tooltip'}, title: "Order ##{@imprint_group.order_id}" do %>
      <i class='glyphicon glyphicon-list'></i>
  <% end %>
</div>
