<div class="row">
  <dl class="col-xs-6">
    <dt>Fba?</dt>
    <dd class='screen-train-fba'><%= train.fba? ? 'yes' : 'no' %>
    <dt>Location</dt>
    <dd><%= train.location.blank? ? "not set" : train.location %>
  </dl>
</div>
