<h1 class="heading">Dashboard</h1>
<div class="col-xs-12">
  <iframe id="periscope_charts" width="100%" src="<%= Figaro.env.persicope_dashboard_chart_url %>" frameborder="0" allowfullscreen></iframe>
</div>

<style>
    body,html,#periscope_charts,.col-xs-12{
        height:100%;
    }
</style>
