<h1 class="heading">Dashboard</h1>

<div class="col-xs-12">
  <iframe id="periscope_charts" width="100%" src="https://www.periscopedata.com/shared/1ac7c4d4-dc53-4db8-bc54-00ee7969163d?embed=true" frameborder="0" allowfullscreen></iframe>
</div>

<style>
    body,html,#periscope_charts,.col-xs-12{
        height:100%;
    }
</style>