<div class="row">
  <div class="col-xs-12">

    <% if lookup_context.find_all("shared/_#{@object.model_name.element}_details").any? %>
      <div class='col-xs-4'>
        <%= render "shared/#{@object.model_name.element}_details", object: @object %>
      </div>
    <% else %>
      <div class='col-xs-1'></div>
    <% end %>

    <div class='col-xs-8'>
      <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>

      <div id='transition-state' class='row'>
        <%= render 'shared/train_transitions', object: @object %>
      </div>

    </div>
  </div>

</div>
