<table class="table table-condensed" id="metrics_table">
  <thead>
  <tr>
    <th>
      Metric Type
    </th>
    <th>
      Value
    </th>
    <th>
      Last Updated
    </th>
  </tr>
  </thead>
  <% object.metrics.each do |metric| %>
      <tr>
        <td><%= metric.name %></td>
        <td><%= format_metric metric %></td>
        <td><%= metric.updated_at %></td>
      </tr>
  <% end %>
</table>