
<h3>Screen, AR3, and Digitization Pre-Production Dashboard</h3>

<div class="container screen-train-search">
  <%=  render 'search' %>
</div>

<%= paginate @trains, theme: 'twitter-bootstrap-3' %>

  <table class="table table-hover table-striped table-sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Train Type</th>
        <th>Order & Details</th>
        <th>Train State</th>
        <th>Order Complete?</th>
        <th>Preprod Deadline</th>
        <th>Order Deadline</th>
        <th>Preprod Assigned To</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @trains.each do |train| %>
        <%= render "pre_production/table_row_#{train.class.name.underscore}", train: train %>  
      <% end %>
    </tbody>
  </table>

<%= paginate @trains, theme: 'twitter-bootstrap-3' %>
