<div class="alert alert-dismissible <%= alert_class_from_flash_type(key) %>" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong><%= alert_text_from_flash_type(key) %></strong> <%= val %>
</div>