<div class='input-group'>
  <%= label_tag field %>

  <% case it = type.respond_to?(:call) ? type.call(object) : type %>
  <% when Array %>
    <%= select_tag field_name, options_for_select(it), class: "select2 event-field-#{category} event-select-field select-field-#{category} form-control" %>
  <% else %>
    <%= send "#{it}_tag", field_name, nil, class: "form-control event-field-#{category} event-#{it.to_s.dasherize} #{it.to_s.dasherize}-#{category}" %>
  <% end %>
</div>
