<h3>Decoration Placement</h3>
<div>
  <%= raw preproduction_notes_train.decoration_placement %>
</div>

<h3>Print Order</h3>
<div>
  <%= raw preproduction_notes_train.print_order %>
</div>

<h3>Special Instructions</h3>
<div>
  <%= raw preproduction_notes_train.special_instructions %>
</div>
<hr />
