<h3>Imprint Groups</h3>
<div class="well">
  <div class='imprint-groups'>
    <% @order.imprint_groups.each do |imprint_group| %>
      <div class='well imprint-group' id='imprint-group-<%= imprint_group.id %>'>
        <%= render 'imprint_group', imprint_group: imprint_group %>
      </div>
    <% end %>
  </div>

  <div>
    <% # TODO new imprint group button here %>
    <%= link_to '+', '#', remote: true, class: 'btn btn-lg btn-success' %>
  </div>
</div>
