<h3>Imprint Groups</h3>
<div class="well">
  <div class='imprint-groups imprint-groups-contaner'>
    <% @order.imprint_groups.each do |imprint_group| %>
      <div class='well imprint-group' id='imprint-group-<%= imprint_group.id %>'>
        <%= render 'orders/imprint_group', imprint_group: imprint_group %>
      </div>
    <% end %>
  </div>

  <div>
    <%= button_to '+', order_imprint_groups_path(@order), method: :post, remote: true, class: 'btn btn-lg btn-success add-imprint-group' %>
  </div>
</div>
