<div class="panel panel-default">
  <div class="panel-heading">
    Imprint Groups
  </div>
  <div class="panel-body">
    <div class='imprint-groups imprint-groups-contaner'>
      <% @order.imprint_groups.each do |imprint_group| %>
        <div class='panel panel-primary imprint-group' id='imprint-group-<%= imprint_group.id %>'>
          <%= render 'orders/imprint_group', imprint_group: imprint_group %>
        </div>
      <% end %>
    </div>

    <div>
      <%= button_to '+', order_imprint_groups_path(@order), method: :post, remote: true, class: 'btn btn-lg btn-success add-imprint-group' %>
    </div>
  </div>
</div>
