<div class="well">
  <div class="pull-right">
  <%= form_for imprint, remote: true, method: :put, class: 'pull-right' do |f| %>
    <%= f.hidden_field :imprint_group_id, value: '' %>
    <%= f.submit 'x', class: 'btn btn-xs btn-danger remove-imprint-from-group' %>
  <% end %>
  </div>

  <%= imprint.name %>
</div>
