<div class='order-proofs row'>
  <% order.proofs.each do |proof| %>
    <div class='col-sm-6'>
      <div class=' panel <%= proof_status_panel(proof) %>'>
        <div class='panel-heading'>Status: <strong><%= proof.status %></strong></div>
        <div class='panel-body'>
          <% proof.artwork_paths.each do |artwork_path| %>
            <%= crm_image_tag artwork_path %>
          <% end %>

          <% proof.mockup_paths.each do |mockup_path| %>
            <%= crm_image_tag mockup_path %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
