<%= render layout: 'layout', locals: { title: "#{@order.deadline.strftime("%a %m/%d")} - #{@order.full_name}" } do %>
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-container">
          <ul class="nav nav-tabs flat-tabs">
            <li class="active"><a href="#states" data-toggle="tab" aria-expanded="true">Train States</a></li>
            <!--<li class=""><a href="#metrics" data-toggle="tab" aria-expanded="false">Metrics</a></li>-->
          </ul>
          <div class="tab-content">
            <div class="tab-pane cont fade active in" id="states">
              <%= render 'orders/dashboard/states', order: @order %>
            </div>
            <div class="tab-pane cont fade" id="metrics">
              <%= render 'orders/dashboard/metrics', order: @order %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

