<span class='imprint-completed'>
  <dl>
    <dt>Completed by</dt>
    <dd>
      <%= imprint.display_completed_by %>
    </dd>
    <dt>Completed At</dt>
    <dd>
      <%= imprint.completed_at.strftime('%m/%d/%Y at %I:%M%p') %>
    </dd>
</span>
