<div class="pull-right">
  <%= link_to imprints_path, class: 'btn btn-md btn-primary', data: { toggle: 'tooltip'}, title: "List Imprints" do %>
      <i class='glyphicon glyphicon-list'></i>
  <% end %>
  <% unless controller.action_name == 'new' %>
      <%= link_to new_order_path, class: 'btn btn-md btn-success', data: { toggle: 'tooltip'}, title: "New Order" do %>
          <i class='glyphicon glyphicon-plus'></i>
      <% end %>
  <% end %>
</div>
