<h2>Transition State</h2>
<p class="alert alert-info">Current State is <b><%= imprint.human_state_name.titleize %></b></p>

<div>
  <% imprint.state_events.each do |e| %>
    <%= form_tag transition_imprint_path(imprint, e), remote: true, method: :patch do %>
      <%= button_tag e.to_s.humanize, class: 'btn btn-lg btn-success' %>

      <% if e.to_sym == :printing_complete %>
        by
        <%= select_tag :completed_by, options_from_collection_for_select(User.all, :id, :full_name, current_user.id),  class: 'user-who-completed select2' %>
      <% end %>
    <% end %>
  <% end %>
</div>
