<div class="row">
  <div class="col-xs-12">

    <div class='col-xs-4'>
      <%= render 'shared/imprint_details', imprint: @imprint %>
    </div>

    <div class='col-xs-8'>
      <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>

      <% if @imprint.require_manager_signoff? %>
        <p class="alert alert-warning flash-notice col-xs-12">
        This Imprint Requires Signoff
        </p>
      <% end %>

      <div id='transition-state' class='row'>
        <%= render 'imprints/transition_state', imprint: @imprint %>
      </div>

    </div>
  </div>


</div>
