<div class="col-xs-12">
  <div class="col-xs-3">
    <%= activity.created_at.strftime('%F %T') %>
  </div>
  <div class="col-xs-3">
    <%= activity.owner.try(:email) || '<unknown>' %>
  </div>

  <div class="col-xs-2">
    <%= activity.parameters['event'].humanize.titleize %>
  </div>
</div>
