<div class="col-xs-12 train-public-activity-entry">
  <hr />
  <div class="col-xs-3">
    <%= render 'public_activity/shared/editable_timestamp', activity: activity %>
  </div>
  <div class="col-xs-3">
    <%= activity.owner.try(:email) || 'Unknown' %>
  </div>
  <div class='col-xs-3'>
    Updated notes
  </div>
</div>
