<div class="col-xs-12 train-public-activity-entry">
  <hr />
  <div class="col-xs-3">
    <%= activity.created_at.strftime('%F %T') %>
  </div>
  <div class="col-xs-3">
    <%= activity.owner.try(:email) || 'Unknown' %>
  </div>
  <div class='col-xs-3'>
    Updated notes
  </div>
</div>
