/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dashboard
 *= require imprint-drag-n-drop
 *= require orders
 *= require screens
 *= require screen_trains
 *= require train
 *= require typeahead-fix
 *= require fullcalendar
 *= require rails_bootstrap_forms
 *= require jquery-ui
 *= require bootstrap-colorpicker
 *= require select2
 *= require select2-bootstrap
 *= require jquery-tablesorter/theme.black-ice
 *= require editable/bootstrap-editable
 *= require loading
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "editable/bootstrap-editable";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.search-fields {
margin: 1em inherit;
}

.imprintable-train-search {
  margin-bottom: 10px;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}
@keyframes cubemove {
  25% {
    transform: translateX(24px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(24px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(24px) translateY(24px) rotate(-179deg);
      -webkit-transform: translateX(24px) translateY(24px) rotate(-179deg);
    } 50.1% {
        transform: translateX(24px) translateY(24px) rotate(-180deg);
        -webkit-transform: translateX(24px) translateY(24px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(24px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}

.margin-right-5 {
  margin-right: 5px;
}
