.job.well {
   
  ul {
    list-style: none;
    padding-left: 0;
    
    li {
    
    }
  }

}

.imprint-group-drop-zone {
}

.imprints, .trains, .imprint-groups, .pre_production_trains, .post_production_trains {
  .well {
    background-color: #fff;
  }
}
