.job.well {
   
  ul {
    list-style: none;
    padding-left: 0;
    
    li {
    
    }
  }

}

.imprint-group-drop-zone {
}

.imprints,.trains,.imprint-groups {
  .well {
    background-color: #fff;
  }
}
