.job.well {
   
  ul {
    list-style: none;
    padding-left: 0;
    
    li {
    
    }
  }

}

.imprints {
  .well {
    background-color: #fff;
  }
}

.trains {
  .well {
    background-color: #fff;
  }
}



