.train-category-success {
  .panel-heading {
    background-color: #95F0C7;
  }
}

.train-category-delay {
  .panel-heading {
    background-color: #FFDA82;
  }

  .btn-delay {
    background-color: #F2C096;
    color: white;
  }
}

.train-category {
  margin: 2px;
}

.train-state-button {
  margin-top: 5px;
}

.train-category-container {
  margin-left: 10px;
}
