.train-category-success {
  .panel-heading {
    background-color: #95F0C7;
  }
}

.train-category-delay {
  .panel-heading {
    background-color: #f0ad4e;
  }

  .btn-delay {
    background-color: #f0ad4e;
    color: white;
  }
}

.train-category-failure {
  .panel-heading {
    background-color: #d9534f;
  }

  .btn-failure {
    background-color: #d9534f;
    color: white;
  }
}

.train-category {
  margin: 2px;
}

.train-state-button {
  margin-top: 5px;
}

.train-category-container {
  margin-left: 10px;
}

.train-public-activity-entry div {
  margin-top: 10px;
}
