<h1 class="heading"><%= @machine.name %> Production Schedule</h1>
<hr />
<div class="row">
  <div class="col-lg-3">
    <div class="event-receiver unscheduled-imprints">
      <h4 align='center'>Ready to Schedule Imprints</h4>

      <% Imprint.ready_to_schedule.each do |imprint| %>
        <%= render 'imprints/unscheduled_entry.html.erb', imprint: imprint %>
      <% end %>

    </div>
  </div>

  <div class="col-lg-9" id='machine-calendar' data-machine="<%= @machine.id %>">
  </div>
</div>


