<h1 class="heading"><%= @machine.name %> Production Schedule</h1>
<hr />
<div class="row">
  <div class="col-lg-3">
    <div class="event-receiver unscheduled-imprints">

      <h4 align='center'>Ready to Schedule Imprints</h4>

      <% @machine.imprints.unscheduled.each do |imprint| %>
        <%= render 'machines/unscheduled_entry.html.erb', event: imprint %>
      <% end %>
      <% @machine.maintenances.unscheduled.each do |maintenance| %>
        <%= render 'machines/unscheduled_entry.html.erb', event: maintenance %>
      <% end %>

    </div>
  </div>

  <div class="col-lg-9" id='machine-calendar' data-machine="<%= @machine.id %>">
  </div>
</div>
